@font-face {
    font-family: "ComingSoon";
    src: url("fuentes/ComingSoon.ttf") format("truetype");
}

@font-face {
    font-family: "Quantify";
    src: url("fuentes/Quantify.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
.label{
    font-family: Quantify !important;
    color: rgba(37, 206, 209, 1) !important;
}

p,
a,
li {
    font-family: ComingSoon !important;
    line-height: 2.2;
    font-size: 20px;
    text-align: center;
    text-align: justify;
    color: rgba(11, 50, 87, 1);
}


.content-info {
    width: 100%;
}

.home-head {
    width: 100%;
}

.home-head .row {
    margin-left: 0;
    margin-right: 0;
}

.team-img img {
    height: 500px;
    width: auto;
    padding-top: 25px;
}

.foto-mosca img {
    height: 100% !important;
}

.home-video iframe {
    width: 100%;
    height: 100%;
}

.info {
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

.content {
    margin-top: 4%;
    text-align: center;
}

.projects-header {
    padding-top: 3%;
}

.projects-header img {
    margin: auto;
    width: 100%;
    height: 100%;
}

.head {
    padding-top: 2%;
    padding-bottom: 4%;
    text-align: center;
}

.team-member {
    padding-bottom: 4%;
}

.team-member h5 {
    text-align: center;
}

.team-member ul {
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
}

.team-member li {
    display: inline;
    padding-right: 2%;
}

.team-member-img {
    text-align: center;
}

.team-member-img img {
    width: 100%;
    height: auto;
    padding-bottom: 4%;
}


#navbarNav a{
    color:  rgba(252, 158, 79, 1);
    font-family: Quantify;
    font-size: 25px;
    padding-left: 30px;
}

#navbarNav a:hover{
    color:  #9fd356;
    font-family: Quantify;
    font-size: 25px;
}

nav {
    background: rgba(211, 243, 238, 1);
    background: -moz-linear-gradient(left, rgba(211, 243, 238, 1) 0%, rgba(211, 243, 238, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(211, 243, 238, 1)), color-stop(100%, rgba(211, 243, 238, 1)));
    background: -webkit-linear-gradient(left, rgba(211, 243, 238, 1) 0%, rgba(211, 243, 238, 1) 100%);
    background: -o-linear-gradient(left, rgba(211, 243, 238, 1) 0%, rgba(211, 243, 238, 1) 100%);
    background: -ms-linear-gradient(left, rgba(211, 243, 238, 1) 0%, rgba(211, 243, 238, 1) 100%);
    background: linear-gradient(to right, rgba(211, 243, 238, 1) 0%, rgba(211, 243, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3f3ee', endColorstr='#d3f3ee', GradientType=1);
}

.nav-item {
    font-family: Quantify;
    font-size: 25px;

}

.nav-link {
    /*background: -webkit-linear-gradient(rgba(241, 111, 92, 1), rgba(246, 41, 12, 1), rgba(240, 47, 23, 1), rgba(231, 56, 39, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;*/
    color: rgba(252, 158, 79, 1);
}

a:hover {
    color: #9fd356;
}

.activo {
    text-align: center;
    color: white;
    font-family: impact;
    text-shadow: -1px -1px 1px #000, 1px 1px 10px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-stroke: 2px #0A122A;
}



.menu-vertical-list {
    color: #dfdfdf !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

.menu-vertical a {
    margin-bottom: 1em !important;
    font-family: Quantify;
    color: rgba(252, 158, 79, 1) !important;
    font-size: 20px;
}

.menu-vertical a {
    display: block !important;
    padding: 0.125em 0 !important;
    color: inherit !important;
}

.menu-vertical a:hover {
    text-decoration: underline !important;
    color: rgba(252, 158, 79, 1) !important;
}

.menu-vertical .active {
    text-decoration: underline !important;
    color: rgba(252, 158, 79, 1) !important;
}

.menu-vertical-list:hover {
    color: rgba(252, 158, 79, 1) !important;
}

.menu-vertical-list {
    padding-left: 70px;
}

.media-body img {
    width: 100%;
}

.media-body img:hover {
    width: 100%;
    z-index: 1000;
}

.btop img {
    position: fixed !important;
    z-index: 1000;
    width: 120px;
    padding: 25px;
}

.footer {
    padding-top: 55px;
}

footer{
    background-color: #d3f3ee;
}

.neuronas img {
    width: 100%;
}

.diapositivas {
    background: rgba(0, 83, 97, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 83, 97, 1) 0%, rgba(211, 243, 238, 1) 80%, rgba(211, 243, 238, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 83, 97, 1)), color-stop(80%, rgba(211, 243, 238, 1)), color-stop(100%, rgba(211, 243, 238, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 83, 97, 1) 0%, rgba(211, 243, 238, 1) 80%, rgba(211, 243, 238, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 83, 97, 1) 0%, rgba(211, 243, 238, 1) 80%, rgba(211, 243, 238, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 83, 97, 1) 0%, rgba(211, 243, 238, 1) 80%, rgba(211, 243, 238, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 83, 97, 1) 0%, rgba(211, 243, 238, 1) 80%, rgba(211, 243, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005361', endColorstr='#d3f3ee', GradientType=1);
}

.diapositivas img {
    height: 550px;
    width: auto !important;
    margin: auto;
    display: block;
}

.modal-llg {
    max-width: 90%;
}

.modal-lg {
    max-width: 90% !important;
}

.iconic-lightbulb {
    cursor: pointer;
}

.iconic-lightbulb * {
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.iconic-lightbulb .icon-container {
    fill: #fff;
    stroke-width: 6;
    stroke: #fff;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.iconic-lightbulb:hover .icon-container {
    fill: #fff8db;

    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition: 2s;
}

.iconic-lightbulb .iconic-lightbulb-light * {
    stroke-width: 16;
    stroke: #ddd;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.iconic-lightbulb:hover .iconic-lightbulb-light * {
    stroke: #fc0;
    stroke-width: 32;
}

.iconic-lightbulb .iconic-lightbulb-base {
    fill: #666;
}

.iconic-lightbulb .iconic-lightbulb-screws * {
    fill: none;
    stroke-width: 16;
    stroke: #333;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.foco svg {
    position: absolute;
    top: 10 px;
    left: 10 px;
    visibility: visible;
    z-index: 2;
}

.idf {
    /*position: fixed;*/
    position: absolute;
    top: 10 px;
    left: 10 px;
    visibility: visible;
    z-index: 1;
}

.idf img {
    width: 100%;
}

img[usemap] {
    height: auto;
    max-width: 100%;
    width: auto;
}

.modal-img {
    width: auto;
    background-image: url(https://cdn.shopify.com/s/files/1/1827/1545/products/G_Mapa_Mexico_e0a641f6-23a4-4606-ac19-9188d0f62740_530x@2x.png?v=1491752356);
}

#imgZomm img{
    padding-top: 100px;
}

hr {
    border: 2px solid #fc9 !important;
}

.zoom{
    background-color: #d3f3ee;
}


.modelImg{
    width: 100%;
    height: auto;
}

body {
    color: rgb(15,15,15);
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}

